// body{
//     background-color: rgba(128, 0, 128, 0.632);
// }
img {
    height: 150px;
    width: 240px;
}

.clearance {
    border: 2px solid rgba(255, 0, 0, 0.732);
    background-color: rgba(111, 245, 93, 0.455);
}

// .btn {
//     color: black;
// }