// body{
//     background-color: rgba(128, 0, 128, 0.632);
// }
img {
    height: 250px;
    width: 390px;
}

.clearance {
    border: 2px solid rgba(255, 0, 0, 0.732);
    background-color: rgba(245, 93, 93, 0.455);
}