<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul>
<div class="container">
<div class="row">
  <div class="col-8"> 
    <app-burger-list></app-burger-list>
  </div>
  <div class="col-4"> 
    Carrito de compras
  </div>
</div>
</div>